body {
    background-color: lightblue;
}

.wrapper {
    height: 840px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.button-wrapper {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.set {
    padding: 20px;
    font-size: 28px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.grid-container {
    height: 840px;
    width: 840px;
    display: flex;
    filter: brightness();
    color: rgba(red, green, blue, alpha);
    box-sizing: border-box;
    border: 5px solid black;
    margin-top: 20px;
}

.block {
    background-color: hsl(hue, saturation, 50%);
}
